.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d0acca;
  font-family: 'JetBrains Mono', monospace;
}

/* Countdown Modal */
.countdown-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.countdown-modal h3 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
}

.countdown-modal div {
  font-size: 1rem;
  font-weight: bold;
}

.upper-container {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add spacing between upper and lower container */
}

.upper-item {
  flex: 1;
  margin: 10px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #aaa;
  font-family: 'JetBrains Mono', monospace;
}

.lower-container {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
}

.lower-item {
  flex: 1;
  margin: 10px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #aaa;
}

.centered-list {
  display: flex;
  flex-direction: column; /* Arrange list items vertically */
  align-items: center; /* Center the list items horizontally */
  justify-content: center; /* Center the list vertically if needed */
  list-style-type: circle; /* Remove bullet points */
  padding: 0;
}

.centered-list li {
  margin: 5px 0; /* Add some space between list items */
}

/* Start of the submit section container and the flame*/

@keyframes flame-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.flame {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  background: radial-gradient(circle at 50% 50%, #ffcc00, #ff6600, transparent);
  border-radius: 50%;
  position: relative;
  animation: flame-animation 1s forwards; /* Animate the button */
}

.flame:before {
  content: '';
  position: absolute;
  top: -10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  background: radial-gradient(circle at 50% 50%, #ff6600, transparent);
  border-radius: 50%;
  animation: flame-animation 1s forwards;
}

.flame:after {
  content: '';
  position: absolute;
  top: -5px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 10px; /* Adjust as needed */
  height: 10px; /* Adjust as needed */
  background: radial-gradient(circle at 50% 50%, #ff3300, transparent);
  border-radius: 50%;
  animation: flame-animation 1s forwards;
}

.birthday-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  height: auto;
  width: 100%;
  max-width: 70%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #aaa;
}

.birthday-input-group {
  display: flex;
  flex-direction: row; /* Align input and button side by side */
}

.birthday-input {
  padding: 10px 20px;
  width: 200px;
  margin-right: 70px; /* Space between input and button */
  border-radius: 35px;
  border: 1px solid #ddd;
  font-size: 1rem;
  font-family: 'JetBrains Mono', monospace;
}

.button {
  padding: 10px 20px;
  background-color: #769ed8;
  border-radius: 40px;
  border: 2px solid #aaa;
  color: #000000;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #3a74ca;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .birthday-input-group {
    flex-direction: column; /* Stack input and button vertically on small screens */
  }

  .birthday-input {
    margin-bottom: 10px; /* Add space when stacked */
    width: 100%;
  }

  .button {
    width: 100%;
    text-align: center;
  }
}
